<table>
  <thead>
    <tr>
      <th>Filename <input type="text" #nameSearch (keyup.enter)="onEnter(nameSearch.value)" placeholder="search"/></th>
      <th>Description <input type="text" name="descSearch" [(ngModel)]="descSearch" placeholder="search"/></th>
      <th>Size <input type="text" name="sizeSearch" placeholder="search"/></th>
      <th></th>
    </tr>

  </thead>

  <tr *ngFor="let file of files">
    <td><a href="{{ file.downloadPath }}" download="{{ file.filename }}">{{ file.filename }}</a></td>
    <td>{{ file.description }}</td>
    <td>{{ file.size }}</td>
    <td>
      <button type="button" name="delete">
        <img src="assets/images/delete.png" alt="delete" width="16" height="16" (click)="remove(file.id)">
      </button>
    </td>
  </tr>
</table>
