<h2>Upload</h2>

<div>
  <label class="btn btn-default">File: </label>
  <input type="file"
      accept=".png,.jpeg,.jpg,.pdf"
      (change)="selectFile($event)" />
</div>

<div >
  <label>Description: </label>
    <input  type="text" [(ngModel)]="description" name="description" placeholder="description"/>
</div>

<div >
  <button class="btn btn-success" [disabled]="!fileToUpload || !description" (click)="onUpload()">
    Upload
  </button>
</div>

<div class="alert alert-light" role="alert">{{ message }}</div>
